*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root{
    --bark: rgba(255, 0, 255, 0.904);
    --background: white;

}


body{
    width: 100vh;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    background-color: var(--bark);
}
main{
    width: 40vw;
  /* margin-top: 5rem;*/
    text-align: center;
    background-color: var(--background);
    border: solid var(--dark);
     border-width: 0.8rem;
     padding: 2rem;
   border-radius: 1rem;
}
 h2{
    margin-top: 1.3rem;
    font-family: 'Times New Roman', Times, serif;
    text-transform: capitalize;
}
h3{
    font-size: 1.5rem;
}
p{
    font-size: 1.5rem;
}  


/*main game section */


.buttoon-wrapper{

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

button{
  min-width: 28rem;
  background-image: linear-gradient(92.88deg,#b54567 9.16%,#43c7cc 43.89%,#673fd7 64.72%);
  border-radius: 8px;
  border-style: none;
  box-sizing: border-box;
  color: white;
  cursor: pointer;
  padding: 1rem 3rem;
  font-size: 2rem;
  text-align: center;
  margin-bottom: 2rem;
  text-shadow: black 0 3px 8px;
  transition: all 0.5s;
}
button:last-child{
    color: black;
    margin-bottom: 0;
}



/* our game area*/
#gamearea{
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#newgamebutton button{
    margin: 2rem 0;
}
input{
    border: 0.1rem solid lightgray;
    background: transparent;
    margin: 4rem 0;
    padding: 2rem 0;
    width: 25rem;
    text-align: center;
}

.stats{
    text-align:left;
    margin-bottom: 4rem;
}
.info{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.info span{
    font-size: 1.5rem;
    color: #b54567;
}